@page
@model IndexModel
@{
    ViewData["Title"] = "Box Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขายปลีกที่ดีที่สุดในคลองสาม</p>
    <img src="/images/BOX LOGO.jpg" width="40%"/>
</div>
